.error-message{
    color:red;
}
page-register {
    .bg{
        background: linear-gradient(to bottom, #F4F6F6 100%);
    } 
    ion-item {
        border-radius: 25px !important;
        // padding-left: 10px !important;
        font-size: 0.5em;
        padding-bottom: 20px;
        // margin-bottom: 5px;
        border: 1px solid #FFFFFF;
        border-bottom: 0px !important;
        box-shadow: none !important;
    }
    .signup-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 20px;
      }

}

